* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic{
    height: 100px;
    width: 100px;
}
.links a{
    text-decoration: none;
    row-gap: 20px;
    color: black; 
    padding-left: 15px;
}
.tweet i{
    margin-right: 30px;
    padding-right: 10px;
}
